<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>

  <appSettings>
    <add key="BaseConfigurationDirectory" value="C:\Control Works\American\Configuration" />
    <add key="CpuName" value="CPUStation1" />
    <add key="CpuStationId" value="1" />
    <add key="MaxSensorData" value="5000" />
    <add key="CoilInfoFileDirectory" value="D:\ControlWorks\Data\Files" />
    <add key="ZplPrinterName" value="ZDesigner GC420d (EPL)" />
    <add key="LogZplCodes" value="false" />
    <add key="CpuSettingsFile" value="D:\ControlWorks\CpuConfig\arg_cpu.config"/>
    <add key="CoilInfoFileDirectory" value="D:\ControlWorks\Data\Files" />
    <add key="AmericanLabelSettings" value="LabelSettingsAmerican.xml" />
    <add key="EuropeanLabelSettings" value="LabelSettingsEuropean.xml" />

  </appSettings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  
  <system.serviceModel>
    <services>
      <service name="IWcfCommunicationService">
        <endpoint address="net.pipe://localhost/WcfCommunicationService" binding="netNamedPipeBinding" contract="ControlWorks.Services.WcfServices.IWcfCommunicationService" name="ControlWorksServiceEndpoint" />
      </service>
    </services>
  
  </system.serviceModel>
  <connectionStrings>
    <add name="ControlWorksContext" connectionString="data source=MILLEA\SQLEXPRESS;initial catalog=ControlWorks;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="CoilDataContext" connectionString="data source=MILLEA\SQLEXPRESS;initial catalog=CoilData;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="Model1" connectionString="data source=MILLEA\SQLEXPRESS;initial catalog=CoilData;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="Model2" connectionString="data source=MILLEA\SQLEXPRESS;initial catalog=CoilData;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="Model11" connectionString="data source=MILLEA\SQLEXPRESS;initial catalog=CoilData;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="CoilInfoContext" connectionString="data source=MILLEA\SQLEXPRESS;initial catalog=CoilInfo;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.15.0" newVersion="1.2.15.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>