<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
  </configSections>

  <connectionStrings>
    <add name ="Tekniplex" connectionString="server=DESKTOP-KK0G88M;Database=CoilInfo;Integrated security=yes;"/>
  </connectionStrings>

  <appSettings>
    <add key="Port" value="9002"/>
    <add key="SourceStationId" value="113"/>
    <add key="MessageTimeout" value="1000"/>
    <add key="BaseDirectory" value="C:\ControlWorks\"/>
    <add key="VerboseVariableLogging" value="false"/>
    <add key="PollingMilliseconds" value="15000"/>
    <add key="RestApiTestMode" value="false"/>
    <add key="LogFilePath" value="C:\ControlWorks\Logs"/>
    <add key="CpuSettings" value="C:\ControlWorks\Settings\Tekniplex\cpu.config"/>
    <add key="VariableSettings" value="C:\ControlWorks\Settings\Tekniplex\variables.config"/>
    <add key="VariableTasks" value="C:\ControlWorks\Settings\TekniplexvariableTasks.config"/>
    <add key="CpuConnectionDeviceType" value="TcpIp"/>

    <!--These setting are for the database connection-->
    <add key="ServerName" value="DESKTOP-KK0G88M"/>
    <add key="DatabaseName" value="AIRKAN_OEE"/>
    <add key="ProductionTableName" value="LF2024_PRODUCTION"/>
    <add key="OrdersTableName" value="LF2024_ORDERS"/>

    <!--If using Windows Authentication set this to true.  If this is false a Username and Password are required-->
    <add key="IntegratedSecurity" value="true"/>

    <!--Onl needed if IntegratedSecurity is false-->
    <add key="Username" value=""/>
    <add key="Password" value=""/>
    
    <!--TekniplexSettings-->
    <add key="MaxSensorData" value="5000"/>

  </appSettings>

  <system.diagnostics>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <add name="configConsoleListener" type="System.Diagnostics.ConsoleTraceListener"/>
        <remove name="Default"/>
      </listeners>
    </trace>
  </system.diagnostics>


  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
</configuration>
